/* main.css
 * This file provides css styles.
 */
body, html {
	background-color: #3b4b54 !important;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}
/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
		text-align: center;
		margin-bottom: 0px !important;
}

/* Style the navigation bar links */
.navbar a {
    display: inline-flex; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

#footer{
	color: white;
}

#welcome {
	background-color:#18171C;
	color: #ffffff;
	text-align: center;
	padding-bottom: 15px;
}

.main-text{
	text-align: justify;
}

.carousel{
	margin: auto;
	width: 700px;
}

.carousel-inner .item {
	display: none;
}

.carousel-inner .item.active {
	display: block;
}

.elementdark{
	background-color:#18171C;
	color: #ffffff;
}

.elementlight{
	background-color: #736E67;
	color: #ffffff;
}
