/* main.css
 * This file provides css styles.
 */
body, html {
	background-color: #F5EFE3 !important;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #707070;
}
/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #384567;
		text-align: center;
}

/* Style the navigation bar links */
.navbar a {
    display: inline-flex; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    padding: 14px 20px; /* Add some padding - top and bottom padding are 14px, right and left padding are 20px*/
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

#topNavbar{
	margin-bottom: 30px;
}

#footer{
	margin-top: 30px;
	color: white;
	margin-bottom: 0px;
}

#footerContainer{
	width:auto;
}

#welcome {
	background-color:#E1D8C6;
	color: #707070;
	text-align: center;
	padding: 15px;
	border-radius: 25px;
	margin-bottom: 30px;
}

#showings{
	text-align: center;
}

.carousel{
	margin: auto;
	width: 500px;
}

.carousel-inner .item {
	display: none;
}

.carousel-inner .item.active {
	display: block;
}

.carousel-caption{
	background: rgba(0, 0, 0, 0.5);
}
